<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    
    <data-source>
        <name>java:global/PacktOrderDS</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <url>jdbc:h2:mem:packt-orders;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE</url>
        <user>vs</user>
        <password>vs</password>
    </data-source>
    
</web-app>
